body {
  font-family: Arial;
  background: #f2f2f2;
  margin: 0;
}

header {
  background: #ff0000;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#search {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}

.video {
  background: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.video:hover {
  transform: scale(1.05);
}

.video img {
  width: 100%;
  border-radius: 8px;
}

.back {
  display: block;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
}
